<!DOCTYPE html>
<!--[if lt IE 9]>     <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>        <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"> <!--<![endif]-->
<head>
    {% include "./views/head.njk" %}
</head>

<body>

    {# Begin Main Section #}
    <main role="main" class="Page-wrapper u-100-height">

        {# Begin Hero #}
        <div class="Content">
            {% include "./views/content.njk" %}
        </div>
        {# End Hero #}

    </main>
    {# End Main Section #}

    {# Begin Footer #}
    <footer>
        {# {% include "./views/footer.njk" %} #}
    </footer>
    {# End Footer #}

    <script src="/scripts/index.js"></script>

</body>
</html>
